@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie resetowania hasła";
}

<h1>@ViewData["Title"]</h1>
<p>
    Hasło zresetowane. <a asp-page="./Login">Kliknij by zalogować.</a>.
</p>
