@page "/animalsPurchase"
@inject HttpClient Http
<PageTitle>FarmManager</PageTitle>

<h1>Skup bydła</h1>
<hr />
<p>Poniżej znajdziesz aktualne ceny w skupach bydła.</p>

@if (html == null)
{
    <p style="font-size:">Wczytywanie...</p>
}
else
{
        @((MarkupString)html)
}

@code {
    private string? html;
    protected override async Task OnInitializedAsync()
    {
            html = await Http.GetStringAsync("AnimalsPurchases");
    }
}
